In [1]:
#Loading and Data Processing

In [2]:
import pandas as pd

In [3]:
%matplotlib inline

import matplotlib as mpl
mpl.rcParams["figure.figsize"] = (8,8)

In [14]:
ls

InitialprocessingEDA.ipynb  drugoverdose.csv

In [15]:
drugoverdose = pd.read_csv("drugoverdose.csv")

In [16]:
drugoverdose.head()

,State,State Name,Year,Month,Indicator,Data Value,Predicted Value,Percent Complete,Percent Pending Investigation,Footnote
0,AK,Alaska,2015,January,Number of Deaths,4034.0,NaN,100,0.0,NaN
1,AK,Alaska,2015,February,Number of Deaths,4084.0,NaN,100,0.0,NaN
2,AK,Alaska,2015,March,Number of Deaths,4101.0,NaN,100,0.0,NaN
3,AK,Alaska,2015,April,Number of Deaths,4133.0,NaN,100,0.0,NaN
4,AK,Alaska,2015,May,Number of Deaths,4196.0,NaN,100,0.0,NaN

In [18]:
del drugoverdose["Indicator"]

In [19]:
del drugoverdose["Predicted Value"]

In [21]:
del drugoverdose["Percent Complete"]

In [22]:
del drugoverdose["Percent Pending Investigation"]

In [26]:
del drugoverdose["State Name"]

In [27]:
drugoverdose.head()

  State  Year     Month  Data Value
0    AK  2015   January      4034.0
1    AK  2015  February      4084.0
2    AK  2015     March      4101.0
3    AK  2015     April      4133.0
4    AK  2015       May      4196.0

In [32]:
drugoverdose = drugoverdose.rename(columns={
    "State":"state",
    "Year":"year",
    "Month":"month",
    "Data Value":"deaths",
})

In [33]:
drugoverdose.head()

  state  year     month  deaths
0    AK  2015   January  4034.0
1    AK  2015  February  4084.0
2    AK  2015     March  4101.0
3    AK  2015     April  4133.0
4    AK  2015       May  4196.0

In [34]:
drugoverdose.dtypes

state      object
year        int64
month      object
deaths    float64
dtype: object

In [35]:
drugoverdose.to_csv("drugoverdose.1.initial_process.csv", index=False)